.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    
    background-size: cover;
    background-position: center;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form .MuiTextField-root {
    margin-bottom: 20px;
}

/* Add custom classes for TextField input and label */
.textfield-input {
    padding: 8px 14px; /* Adjust padding as needed */
    font-size: 14px;   /* Adjust font size as needed */
}

.textfield-label {
    font-size: 12px;   /* Adjust label font size as needed */
    transform: translate(14px, 10px) scale(1); /* Adjust label position */
}
