
.addOffice-background {
    background: #0c0c0d;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addOffice-container
{
    background-color: rgb(22, 44, 62);
    padding: 20px;
}
.addOffice-header {
    text-align: center;
    margin-bottom: 20px;
}

.addOffice-icon {
    vertical-align: middle;
    margin-right: 10px;
}

.addOffice-textField {
    background-color: white;
    width: 100%;
    height: 56px; /* Standard height for MUI outlined TextField */
    margin-bottom: 16px; /* Add some space between fields for better layout */
}

.addOffice-button {
    margin-top: 20px;
}

.addOffice-responseMessage {
    margin-top: 10px;
    text-align: center;
}
