.admin-navbar {
    background-color:blueviolet;
    color: #fff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 25px;
    font-style:italic;
    font-weight: bold;
    /* position:fixed; */
    border: 3px solid linear-gradient(135deg, #1a133d, #000000, #4a4075);
    box-shadow: linear-gradient(135deg, #1a133d, #000000, #4a4075);
}

.admin-navbar ul {
    justify-content:space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0; 
    display: flex;
    align-items: center;
}

.admin-navbar ul li {
    margin-right: 20px; /* Add space between list items */
}

.admin-navbar ul li:last-child {
    margin-right: 0; /* Remove margin from last list item */
}

.admin-navbar a {
    color: #fff; /* Link color */
    text-decoration: none; /* Remove underline from links */
}

.admin-navbar button {
    background-color:crimson; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    padding: 8px 16px; /* Padding inside the button */
    cursor: pointer; /* Show pointer cursor on hover */
    margin-left: auto; /* Push the button to the right */
}

/* Remove hover effect for the logout button */
.admin-navbar button:hover {
    background-color: red; /* Keep the background color the same */
}
