.employee-navbar {
    background-color:blueviolet;
    color: #fff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 25px;
    font-style:italic;
    font-weight: bold;
    /* position:fixed; */
    border: 3px solid linear-gradient(135deg, #1a133d, #000000, #4a4075);
    box-shadow: linear-gradient(135deg, #1a133d, #000000, #4a4075);
}

.employee-navbar ul {
    justify-content:space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0; 
    display: flex;
    align-items: center;
}

.employee-navbar ul li {
    margin-right: 20px; 
}

.employee-navbar ul li:last-child {
    margin-right: 0; 
}

.employee-navbar a {
    color: #fff; 
    text-decoration: none; 
}

.employee-navbar button {
    background-color:crimson; 
    color: #fff;
    border: none;
    padding: 7px;
    margin: 0;
    cursor: pointer; 
    margin-left: auto; 
}

.employee-navbar button:hover {
    background-color: red; 
}
.employeeNavbar-link {
    padding: 10px;
}
.employeeNavbar-link:hover {
    background-color: rgb(57, 2, 79);
    border-radius: 5px;
}
