.office-navbar {
    background-color: cadetblue;
    color: #fff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 25px;
    font-style: italic;
    font-weight: bold;
    /* position: fixed; */
    border: 3px solid linear-gradient(135deg, #1a133d, #000000, #4a4075);
    box-shadow: linear-gradient(135deg, #1a133d, #000000, #4a4075);
}

.office-navbar ul {
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.office-navbar ul li {
    margin-right: 20px; /* Add space between list items */
}

.office-navbar ul li:last-child {
    margin-right: 0; /* Remove margin from last list item */
}

.office-navbar a {
    color: #fff; /* Link color */
    text-decoration: none; /* Remove underline from links */
    padding: 5px 10px; /* Add padding for better background effect */
    border-radius: 5px; /* Slightly round the corners */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
}

.office-navbar a:hover {
    color: cadetblue; /* Change text color to match navbar background */
    background-color: #fff; /* Background color change on hover */
    text-decoration: underline; /* Underline the text */
}
